<div class="container detail">
	<a href="/">
		<div class="row four_tu">
	        <div class="col-sm-12">
	        	<h3 style="font-weight: 700">Năm Kỷ Hợi - 2019: Lưu niên vận thế {{data.gender == 'male' ? 'anh' : 'chị'}}: {{data.name || 'Không rõ' }}, tuổi <span style="color:#D94B4B">{{lunarData.am_lich}}</span></h3>
	        </div>
	    </div>
	</a>
    <div class="row intro section">
    	<div class="col-md-6 col-sm-6">
    		<img src="/images/tong-quan.png" style="width: 150px;">
    		<div ng-bind-html="selected.intro" style="font-size: 16px;font-weight: 700"></div>
    	</div>
    	<div class="col-md-6 col-sm-6">
    		<table class="table table-bordered">
			  <tbody>
			    <tr>
			      <th scope="row">Họ và tên</th>
			      <td>{{data.name || 'Không rõ' }}</td>
			    </tr>
			    <tr>
			      <th scope="row">Ngày sinh</th>
			      <td>{{data.day + '/' + data.month + '/' + data.year}}</td>
			    </tr>
			    <tr>
			      <th scope="row">Năm sinh âm lịch</th>
			      <td>{{lunarData.am_lich || 'Không rõ'}}</td>
			    </tr>
			    <tr>
			      <th scope="row">Giới tính</th>
			      <td>{{data.gender == 'male' ? 'Nam' : 'Nữ'}}</td>
			    </tr>
			    <tr>
			      <th scope="row">Ngũ hành</th>
			      <td>{{lunarData.ngu_hanh}} ({{lunarData.giai_nghia}})</td>
			    </tr>
			    <tr>
			      <th scope="row">Mệnh</th>
			      <td>{{lunarData.menh}} (Mệnh niên: {{data.gender == 'male' ? lunarData.menh_nam : lunarData.menh_nu}})</td>
			    </tr>
			  </tbody>
			</table>
    	</div>
    </div>
    <div class="row section">
		<div class="col-md-5">
			<img ng-src="{{'/images/section-images/' + data.lunar_year + '.png'}}">
		</div>
		<div class="col-md-7">
			<h3 ng-bind-html="selected.section1_title" style="font-size: 18px;font-weight: 700; color: #D94B4B;"></h3>
			<div class="itext">
	            <span ng-bind-html="selected.section1_itext"></span>
	        </div>
		</div>
	</div>
	<div class="row section">
		<img class="full_width" src="/images/section-images/2_0.png">
		<div class="col-md-6">
			<img class="full_width" src="/images/section-images/2_1.jpg">
			<div class="title_2_1">
				<span ng-bind-html="selected.section2_title1"></span>
			</div>
			<p ng-bind-html="selected.section2_block1_text" style="margin-top: 15px"></p>
		</div>
		<div class="col-md-6">
			<img class="full_width" src="/images/section-images/2_2.jpg">
			<div class="title_2_2">
				<span ng-bind-html="selected.section2_title2"></span>
			</div>
			<p ng-bind-html="selected.section2_block2_text" style="margin-top: 15px"></p>
		</div>
	</div>
	<div class="row">
		<div class="block_wl"></div>
	</div>
	<img class="full_width" data-original="/images/section-images/sdysxp_shu.png" alt="" class="lazy ub_fh sdysxp" src="/images/section-images/sdysxp_shu.png" style="display: block;">
	<div class="row section section3">
		<div class="col-md-6">
			<div class="full_width t_center">
				<img class="section3_img" src="/images/section-images/sidayun_caiyun.png">
			</div>
			<h3 class="section3_title">Tài vận 
				<img ng-src="/images/section-images/star2.png" ng-repeat="t in getTimes(selected.section3_taivan_rate) track by $index">
				<img ng-src="/images/section-images/star1.png" ng-repeat="t in getTimes(5-selected.section3_taivan_rate) track by $index">
				<!-- <img ng-src="/images/section-images/star2.png" ng-repeat="star in selected.section3_taivan_rate"> -->
			</h3>
			<span ng-bind-html="selected.section3_taivan"></span>
		</div>
		<div class="col-md-6">
			<div class="full_width t_center">
				<img class="section3_img" src="/images/section-images/sidayun_shiye.png">
			</div>
			<h3 class="section3_title">Sự nghiệp
				<img ng-src="/images/section-images/star2.png" ng-repeat="t in getTimes(selected.section3_sunghiep_rate) track by $index">
				<img ng-src="/images/section-images/star1.png" ng-repeat="t in getTimes(5-selected.section3_sunghiep_rate) track by $index">
			</h3>
			<span ng-bind-html="selected.section3_sunghiep"></span>
		</div>
	</div>
	<div class="row section ads ads_type1" ng-if="ads.length > 1">
		<div class="ads_container">
			<div class="ads_content">
				<div class="col-md-1 full_height d_flex v_center">
					<div class="discount">
						<span>-68</span><span>%</span>
					</div>
				</div>
				<div class="col-md-8 full_height d_flex v_center">
					<div class="d_flex" style="flex-direction: row">
						<div class="ads_img">
							<img class="img_150" ng-src="/images/ads/{{ads[0].img_100}}">
						</div>
						<div style="padding-left: 30px">
							<h3 style="font-weight: 700;color:#000">{{ads[0].name}} tuổi <span style="color:#D94B4B">{{lunarData.am_lich}}</span></h3>
							<div>{{ads[0].desc}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 full_height d_flex v_center">
					<div class="d_flex" style="flex-direction: row">
						<div style="padding-left: 30px; text-align: center">
							<div>Giá cũ: <span style="font-weight: 700;text-decoration: line-through;">{{ads[0].old_price | number: 0}} đ</span></div>
							<h1 style="font-weight: 700;color:#ef1c1c;margin: 0;">{{ads[1].price | number: 0}} đ</h1>
							<button class="btn btn-danger btn-block">ĐẶT MUA NGAY</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row section section3">
		<div class="col-md-6">
			<div class="full_width t_center">
				<img class="section3_img" src="/images/section-images/sidayun_jiank.png">
			</div>
			<h3 class="section3_title">Sức khỏe 
				<img ng-src="/images/section-images/star2.png" ng-repeat="t in getTimes(selected.section4_suckhoe_rate) track by $index">
				<img ng-src="/images/section-images/star1.png" ng-repeat="t in getTimes(5-selected.section4_suckhoe_rate) track by $index">
				<!-- <img ng-src="/images/section-images/star2.png" ng-repeat="star in selected.section3_taivan_rate"> -->
			</h3>
			<span ng-bind-html="selected.section4_suckhoe"></span>
		</div>
		<div class="col-md-6">
			<div class="full_width t_center">
				<img class="section3_img" src="/images/section-images/sidayun_aiqiang.png">
			</div>
			<h3 class="section3_title">Tình yêu
				<img ng-src="/images/section-images/star2.png" ng-repeat="t in getTimes(selected.section4_tinhyeu_rate) track by $index">
				<img ng-src="/images/section-images/star1.png" ng-repeat="t in getTimes(5-selected.section4_tinhyeu_rate) track by $index">
			</h3>
			<span ng-bind-html="selected.section4_tinhyeu"></span>
		</div>
	</div>
	<div class="row">
		<div class="block_wl"></div>
	</div>
	<div class="row section section4">
		<div class="full_width t_center" style="padding: 15px 30px">
			<img src="/images/section-images/zybemj.png">
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<img src="/images/section-images/jinnang1.png" style="width: 160px;height: 168px;">
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section5_txt1"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-10">
				<span ng-bind-html="selected.section5_txt2"></span>
			</div>
			<div class="col-md-2">
				<img src="/images/section-images/jinnang2.png" style="width: 160px;height: 168px;">
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<img src="/images/section-images/jinnang3.png" style="width: 160px;height: 168px;">
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section5_txt3"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-10">
				<span ng-bind-html="selected.section5_txt4"></span>
			</div>
			<div class="col-md-2">
				<img src="/images/section-images/jinnang4.png" style="width: 160px;height: 168px;">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="block_wl"></div>
	</div>
	<div class="row section section5">
		<div class="col-md-9">
			<div class="full_width t_center" style="padding: 15px 30px">
				<img src="/images/section-images/zyys_biaoti.png" style="width: 60%">
			</div>
			<span ng-bind-html="full_desc.desc"></span>
		</div>
		<div class="col-md-3">
			<div class="row section ads ads_type2" ng-if="ads.length > 2">
				<div class="ads_container">
					<div class="ads_content d_flex" style="flex-direction: column;padding: 15px;border: none">
						<div>
							<div class="ads_img">
								<img class="img full_width" ng-src="/images/ads/1000x1000/{{ads[1].img_100}}">
							</div>
						</div>
						<div>
							<h4 style="font-weight: 700;color:#000">{{ads[1].name}} tuổi <span style="color:#D94B4B">{{lunarData.am_lich}}</span></h3>
							<div>{{ads[1].desc}}</div>
						</div>
						<div class="d_count">
							<span>-68</span><span>%</span>
						</div>
						<div class="col-md-3 full_width">
							<div class="d_flex" style="flex-direction: row">
								<div class="full_width" style="text-align: center">
									<div>Giá cũ: <span style="font-weight: 700;text-decoration: line-through;">{{ads[1].old_price | number: 0}} đ</span></div>
									<h1 style="font-weight: 700;color:#ef1c1c;margin: 10px auto;">{{ads[1].price | number: 0}} đ</h1>
									<button class="btn btn-danger btn-block">ĐẶT MUA NGAY</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row section section4">
		<div class="section_article">
			<div class="col-md-2">
				<div class="job cong_chuc"></div>
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section6_congchuc"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<div class="job doanh_nhan	"></div>
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section6_doanhnhan"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<div class="job don_than	"></div>
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section6_donthan"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<div class="job ket_hon	"></div>
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section6_kethon"></span>
			</div>
		</div>
		<div class="section_article">
			<div class="col-md-2">
				<div class="job hoc_sinh	"></div>
			</div>
			<div class="col-md-10">
				<span ng-bind-html="selected.section6_hocsinh"></span>
			</div>
		</div>
	</div>
</div>